In [2]:
import itertools
import os
import pandas as pd
import numpy as np

In [3]:
os.chdir('C:/Users/fando/Box Sync/Springboard/Capstone Project/Data')

# Load the data

In [4]:
dtype_dict = np.load('dtype_dict.npy').item()
allData = pd.read_csv('allData.txt', sep=" ", dtype = dtype_dict, encoding = "ISO-8859-1")
summary_numeric = allData.describe()
summary_str = allData.describe(include=['O'])

# Get a sense of the data

In [17]:
allData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605981 entries, 0 to 605980
Data columns (total 99 columns):
access                              244180 non-null object
accommodates                        605981 non-null int64
amenities                           605981 non-null object
availability_30                     605981 non-null int64
availability_365                    605981 non-null int64
availability_60                     605981 non-null int64
availability_90                     605981 non-null int64
available                           605981 non-null object
bathrooms                           602778 non-null float64
bed_type                            605981 non-null object
bedrooms                            605402 non-null float64
beds                                605192 non-null float64
calculated_host_listings_count      605981 non-null int64
calendar_last_scraped               605981 non-null object
calendar_updated                    605981 non-null object
cancellation_policy                 605981 non-null object
city                                605920 non-null object
cleaning_fee                        435843 non-null object
country                             605981 non-null object
country_code                        605981 non-null object
date                                605981 non-null object
description                         605922 non-null object
experiences_offered                 605981 non-null object
extra_people                        605981 non-null object
file_index                          605981 non-null int64
first_review                        463390 non-null object
guests_included                     605981 non-null int64
has_availability                    177415 non-null object
host_about                          424289 non-null object
host_acceptance_rate                237863 non-null object
host_has_profile_pic                605645 non-null object
host_id                             605981 non-null int64
host_identity_verified              605645 non-null object
host_is_superhost                   605645 non-null object
host_listings_count                 605645 non-null float64
host_location                       604053 non-null object
host_name                           605645 non-null object
host_neighbourhood                  558683 non-null object
host_picture_url                    605645 non-null object
host_response_rate                  457108 non-null object
host_response_time                  457108 non-null object
host_since                          605645 non-null object
host_thumbnail_url                  605645 non-null object
host_total_listings_count           605645 non-null float64
host_url                            605981 non-null object
host_verifications                  605981 non-null object
house_rules                         270765 non-null object
instant_bookable                    605981 non-null object
interaction                         235795 non-null object
is_location_exact                   605981 non-null object
jurisdiction_names                  605164 non-null object
last_review                         463483 non-null object
last_scraped                        605981 non-null object
latitude                            605981 non-null float64
license                             71707 non-null object
listing_id                          605981 non-null object
listing_url                         605981 non-null object
longitude                           605981 non-null float64
market                              601657 non-null object
maximum_nights                      605981 non-null int64
medium_url                          527654 non-null object
minimum_nights                      605981 non-null int64
monthly_price                       147319 non-null object
name                                605981 non-null object
neighborhood_overview               364600 non-null object
neighbourhood                       545791 non-null object
neighbourhood_cleansed              605981 non-null object
neighbourhood_group_cleansed        0 non-null float64
notes                               281397 non-null object
number_of_reviews                   605981 non-null int64
picture_url                         605981 non-null object
price_x                             183477 non-null object
price_y                             605981 non-null object
property_type                       605856 non-null object
require_guest_phone_verification    605981 non-null object
require_guest_profile_picture       605981 non-null object
requires_license                    605981 non-null object
review_scores_accuracy              454616 non-null float64
review_scores_checkin               454339 non-null float64
review_scores_cleanliness           455018 non-null float64
review_scores_communication         455233 non-null float64
review_scores_location              454492 non-null float64
review_scores_rating                455933 non-null float64
review_scores_value                 454462 non-null float64
reviews_per_month                   463390 non-null float64
room_type                           605981 non-null object
scrape_id                           605981 non-null int64
security_deposit                    286019 non-null object
smart_location                      605981 non-null object
space                               448929 non-null object
square_feet                         14454 non-null float64
state                               605888 non-null object
street                              605981 non-null object
summary                             576597 non-null object
thumbnail_url                       527654 non-null object
transit                             381054 non-null object
weekly_price                        193056 non-null object
xl_picture_url                      527654 non-null object
zipcode                             600332 non-null object
dtypes: float64(17), int64(13), object(69)
memory usage: 457.7+ MB

In [18]:
allData.head()

,access,accommodates,amenities,availability_30,availability_365,availability_60,availability_90,available,bathrooms,bed_type,...,space,square_feet,state,street,summary,thumbnail_url,transit,weekly_price,xl_picture_url,zipcode
0,NaN,2,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",5,312,12,42,f,1.0,Real Bed,...,Amazing ocean views with a private brand new b...,NaN,CA,"42nd Avenue, San Francisco, CA 94121, United S...",Newly built cottage that comfortably sleeps 2....,https://a1.muscache.com/ic/pictures/37533928/f...,Geary bus stop half block away.Fulton st. bus ...,NaN,https://a1.muscache.com/ic/pictures/37533928/f...,94121
1,NaN,2,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",5,312,12,42,f,1.0,Real Bed,...,Amazing ocean views with a private brand new b...,NaN,CA,"42nd Avenue, San Francisco, CA 94121, United S...",Newly built cottage that comfortably sleeps 2....,https://a1.muscache.com/ic/pictures/37533928/f...,Geary bus stop half block away.Fulton st. bus ...,NaN,https://a1.muscache.com/ic/pictures/37533928/f...,94121
2,NaN,2,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",5,312,12,42,f,1.0,Real Bed,...,Amazing ocean views with a private brand new b...,NaN,CA,"42nd Avenue, San Francisco, CA 94121, United S...",Newly built cottage that comfortably sleeps 2....,https://a1.muscache.com/ic/pictures/37533928/f...,Geary bus stop half block away.Fulton st. bus ...,NaN,https://a1.muscache.com/ic/pictures/37533928/f...,94121
3,NaN,2,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",5,312,12,42,f,1.0,Real Bed,...,Amazing ocean views with a private brand new b...,NaN,CA,"42nd Avenue, San Francisco, CA 94121, United S...",Newly built cottage that comfortably sleeps 2....,https://a1.muscache.com/ic/pictures/37533928/f...,Geary bus stop half block away.Fulton st. bus ...,NaN,https://a1.muscache.com/ic/pictures/37533928/f...,94121
4,NaN,2,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",5,312,12,42,f,1.0,Real Bed,...,Amazing ocean views with a private brand new b...,NaN,CA,"42nd Avenue, San Francisco, CA 94121, United S...",Newly built cottage that comfortably sleeps 2....,https://a1.muscache.com/ic/pictures/37533928/f...,Geary bus stop half block away.Fulton st. bus ...,NaN,https://a1.muscache.com/ic/pictures/37533928/f...,94121

In [14]:
summary_str

,accommodates,availability_30,availability_365,availability_60,availability_90,bathrooms,bedrooms,beds,calculated_host_listings_count,file_index,...,review_scores_accuracy,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,reviews_per_month,scrape_id,square_feet
count,605981.000000,605981.000000,605981.000000,605981.000000,605981.000000,602778.000000,605402.000000,605192.000000,605981.000000,605981.000000,...,454616.000000,454339.000000,455018.000000,455233.000000,454492.000000,455933.000000,454462.000000,463390.000000,6.059810e+05,14454.000000
mean,3.174718,8.542837,149.276449,19.767011,33.068441,1.279412,1.340427,1.729038,2.692174,9.575645,...,9.615130,9.758685,9.438413,9.763567,9.508374,94.197027,9.316739,1.713302,2.016253e+13,989.793483
std,2.038981,10.457691,143.409565,21.533474,33.173070,0.630545,0.887398,1.260971,6.130510,6.080376,...,0.762901,0.637710,0.929790,0.630827,0.797199,7.501463,0.838617,1.761366,6.831769e+09,679.837172
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,20.000000,2.000000,0.010000,2.015090e+13,0.000000
25%,2.000000,0.000000,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,9.000000,10.000000,9.000000,10.000000,9.000000,92.000000,9.000000,0.390000,2.016020e+13,500.000000
50%,2.000000,3.000000,91.000000,11.000000,23.000000,1.000000,1.000000,1.000000,1.000000,9.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,96.000000,9.000000,1.030000,2.016090e+13,950.000000
75%,4.000000,15.000000,307.000000,37.000000,63.000000,1.500000,2.000000,2.000000,2.000000,15.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,100.000000,10.000000,2.540000,2.017030e+13,1400.000000
max,18.000000,30.000000,365.000000,60.000000,90.000000,8.000000,10.000000,16.000000,69.000000,20.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,100.000000,10.000000,18.380000,2.017080e+13,3000.000000

In [15]:
summary_numeric

,accommodates,availability_30,availability_365,availability_60,availability_90,bathrooms,bedrooms,beds,calculated_host_listings_count,file_index,...,review_scores_accuracy,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,reviews_per_month,scrape_id,square_feet
count,605981.000000,605981.000000,605981.000000,605981.000000,605981.000000,602778.000000,605402.000000,605192.000000,605981.000000,605981.000000,...,454616.000000,454339.000000,455018.000000,455233.000000,454492.000000,455933.000000,454462.000000,463390.000000,6.059810e+05,14454.000000
mean,3.174718,8.542837,149.276449,19.767011,33.068441,1.279412,1.340427,1.729038,2.692174,9.575645,...,9.615130,9.758685,9.438413,9.763567,9.508374,94.197027,9.316739,1.713302,2.016253e+13,989.793483
std,2.038981,10.457691,143.409565,21.533474,33.173070,0.630545,0.887398,1.260971,6.130510,6.080376,...,0.762901,0.637710,0.929790,0.630827,0.797199,7.501463,0.838617,1.761366,6.831769e+09,679.837172
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,20.000000,2.000000,0.010000,2.015090e+13,0.000000
25%,2.000000,0.000000,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,9.000000,10.000000,9.000000,10.000000,9.000000,92.000000,9.000000,0.390000,2.016020e+13,500.000000
50%,2.000000,3.000000,91.000000,11.000000,23.000000,1.000000,1.000000,1.000000,1.000000,9.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,96.000000,9.000000,1.030000,2.016090e+13,950.000000
75%,4.000000,15.000000,307.000000,37.000000,63.000000,1.500000,2.000000,2.000000,2.000000,15.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,100.000000,10.000000,2.540000,2.017030e+13,1400.000000
max,18.000000,30.000000,365.000000,60.000000,90.000000,8.000000,10.000000,16.000000,69.000000,20.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,100.000000,10.000000,18.380000,2.017080e+13,3000.000000

In [43]:
allData_nan = (allData.isnull().sum() / allData.shape[0]) * 100
allData_nan[allData_nan > 0]

access                           54.125609
bathrooms                         1.171773
cleaning_fee                     22.568662
first_review                      6.861929
has_availability                 66.860488
host_about                       16.363213
host_acceptance_rate             55.953208
host_has_profile_pic              0.030465
host_identity_verified            0.030465
host_is_superhost                 0.030465
host_listings_count               0.030465
host_location                     0.030465
host_name                         0.030465
host_neighbourhood                3.415732
host_picture_url                  0.030465
host_response_rate               19.306895
host_response_time               19.306895
host_since                        0.030465
host_thumbnail_url                0.030465
host_total_listings_count         0.030465
house_rules                      45.924839
interaction                      54.227488
jurisdiction_names                0.239792
last_review                       6.841619
license                          73.325384
medium_url                       15.736215
monthly_price                    60.085369
neighborhood_overview            28.503852
neighbourhood                     4.685780
neighbourhood_group_cleansed    100.000000
notes                            35.230489
review_scores_accuracy            7.804065
review_scores_checkin             7.804065
review_scores_cleanliness         7.804065
review_scores_communication       7.804065
review_scores_location            7.804065
review_scores_rating              7.804065
review_scores_value               7.804065
reviews_per_month                 6.861929
security_deposit                 48.132436
space                            11.335107
square_feet                      94.955186
summary                          10.866332
thumbnail_url                    15.736215
transit                          25.068465
weekly_price                     46.571820
xl_picture_url                   15.736215
dtype: float64

# Impute NAs, Data Wrangling
By variable

## Fill NA by listing_id
Use the same listing's information on the nearby dates to fill the missing values.

Memory-intensive; will run when switching to a more powerful machine

In [ ]:
def fillNa(var, df):
    
    def helper(id, df):
        findex_notnull = df.loc[df[var].notnull() & (df['listing_id']==id)]['file_index'].unique()
        findex_isnull = df.loc[df[var].isnull() & (df['listing_id']==id)]['file_index'].unique()
        f_dist = pd.DataFrame(list(itertools.product(findex_notnull, findex_isnull)), columns=['notnull', 'isnull'])
        f_dist['dist'] = abs(f_dist['notnull']-f_dist['isnull'])
        f_dist= f_dist.loc[f_dist['dist'].isin(f_dist.groupby(['isnull']).min().dist)]
        for i in f_dist['isnull']:
            j = f_dist.loc[f_dist['isnull']==i]['notnull'].values[0]
            fillin_value = df.loc[(df['listing_id']==id) & (df['file_index']==j)][var].values[0]
            df.loc[df[var].isnull() & (df['listing_id']==id) & (df['file_index']==i), var] = fillin_value
        return df       
        
    id_notnull = df.listing_id[pd.notnull(df[var])].unique() 
    id_null = df.listing_id[pd.isnull(df[var])].unique()
    id_inter = list(set(id_null).intersection(id_notnull))
#    print(id_inter[0:10])
    for i in id_inter:
        df = helper(i, df)
    return df

## Price-related

In [40]:
for i in ['price_x','price_y', 'cleaning_fee', 'security_deposit', 'weekly_price', 'extra_people']:
    allData[i] = allData[i].str.extract('([0-9].*\.0{2})').str.replace(',', '')
    allData[i] = pd.to_numeric(allData[i])

C:\Users\fando\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app

In [41]:
allData['price'] = allData['price_x']
allData.drop(['price_x'], axis=1, inplace=True)

In [42]:
by_id = allData.groupby('listing_id')
allData['price'] = by_id['price'].transform(lambda x: x.fillna(x.mean()))
allData['price'] = allData['price'].fillna(allData['price_y'])

## Availability - related

In [24]:
set(allData['available'])

{0, 1}

In [38]:
allData["available"] = allData["available"].astype('category')
allData["available"] = allData["available"].cat.codes
       
# available_365, 60, 90
allData["avail_365"] = allData["availability_365"]/365
allData["avail_60"] = allData["availability_60"]/60
allData["avail_90"] = allData["availability_90"]/90

## Create dummies

In [37]:
allData = pd.get_dummies(allData, columns=["cancellation_policy", "bed_type", "room_type", 
                                           "neighbourhood_cleansed", "property_type", "instant_bookable"], 
                         prefix=["cancel", "bed", "room", "neigh", "proty", "insboo"])

## Fix bedrooms

When the listing is a studio, its bedroom number is 0. We can fix it to 1.

In [35]:
allData.at[(allData['bedrooms']<1), 'bedrooms']=1.0

## Amenities

In [5]:
amenities_df = allData[['amenities', 'listing_id']].drop_duplicates()

In [6]:
amenities_df.head()

                                             amenities listing_id
0    {TV,"Cable TV",Internet,"Wireless Internet",Ki...    2134100
61   {TV,"Cable TV","Wireless Internet",Kitchen,"Pe...      69681
122  {Internet,"Wireless Internet",Kitchen,"Buzzer/...    5960738
182  {TV,"Cable TV",Internet,"Wireless Internet",Ki...    7302136
242  {Internet,"Wireless Internet",Kitchen,Heating,...    1206261

In [14]:
for i in list(range(0, len(amenities_df))):
    amen = amenities_df.iloc[i, 0]
    amen = amen[1:len(amen)-1]
    amen = amen.replace('"', '')
    amen = amen.split(",")
    amen = list(map(str.lower, amen))
    for j in amen:
        if j in list(amenities_df.columns.values):
            amenities_df[j].iloc[i] = 1
        else:
            amenities_df[j] = np.nan
            amenities_df[j].iloc[i] = 1

C:\Users\fando\Anaconda3\lib\site-packages\pandas\core\indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [24]:
amenities_df = amenities_df.fillna(0)

In [18]:
amenities_df['tv'] = amenities_df['tv'] + amenities_df['cable tv']
amenities_df['internet'] = amenities_df['internet'] + amenities_df['wireless internet']
amenities_df['elevator'] = amenities_df['elevator in building'] + amenities_df['elevator']
amenities_df['smartlock'] = amenities_df['smartlock'] + amenities_df['smart lock']

In [19]:
amenities_df = amenities_df.drop(['translation missing: en.hosting_amenity_49', 'translation missing: en.hosting_amenity_50', 
                '', 'cable tv', 'wireless internet', 'elevator in building', 'smart lock'], axis=1)

In [23]:
amenities_df = amenities_df.replace(2,1)
amenities_df = amenities_df.replace(3,1)

In [27]:
allData = pd.merge(allData, amenities_df, on=['listing_id', 'amenities'], how='left')

Save the processed data.

In [44]:
dtype_dict_processed = allData.dtypes.apply(lambda x: x.name).to_dict()
dtype_dict_processed.update({'date': 'object', 'last_scraped': 'object'})
np.save('dtype_dict_processed.npy', dtype_dict_processed) 
allData.to_csv('allData_processed.txt', index=False, sep=' ', header=True)